body
{
	font-family: "Open Sans";
	color: #aaaaaa;
	font-weight: normal;
}

.font
{
	font-family: "Open Sans";
	color: #aaaaaa;
}

.bg_dark
{
	background-color: #282828;
	margin: 0;
	margin-top: 30px;
}

.root_container
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	background-color: #282828;
}

.top_container
{
	max-width: 100%;
	margin-right: 50px;
	margin-left: 50px;
	width: 1050px;
	height: auto;
	background-color: #333333;
}

.top_container_margin
{
	margin-left: 40px;
	margin-right: 35px;
}

.bottom_container_margin
{
	height: 30px;
}

.top_header
{
	color: white;
	font-size: 60px;
}

h1
{
	font-size: 60px;
	font-weight: normal;
}

h2
{
	font-size: 22px;
	font-weight: normal;
	color: #aaaaaa;
}

.main_container
{
	padding-top: 10px;
	display: flex;
}

.horizontal_line
{
	height: 1px;
	width: 100%;
	background-color: #404040;
}

.vertical_line
{
	height: 100%;
	width: 1px;
	background-color: #404040;
}

.containers
{
	
}

.container1
{
	/*padding-right: 30px;*/
	min-width: 620px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	float: left;
	align-content: flex-start;
}



.container2
{
	float: right;
	width: 325px;
	padding-top: 20px;
}

.sidebar
{
	padding-left: 30px;
}

.subtext
{
	padding-left: 5px;
	background-color: #303030;
	color: #aaaaaa;
}

.sidetext
{
	color: #aaaaaa;
	font-size: 16px;
}

.post
{
	width: 620px;
	/*height: 620px;*/
	padding-right: 30px;
}

a:link
{
	text-decoration: none;
	color: #dd7700;
	font-weight: normal;
}

a:visited
{
	color: #cc6600;
}

a:hover
{
	color: #cc6600;
}

.videostags
{
	width: 620px;
	height: auto;
	padding-bottom: 15px;
}

.gadgets
{
	padding-bottom: 20px;
}

h3
{
	margin-bottom: 10px;
}

.gadgets_top_text
{
	font: normal bold 14px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: white;
}

.searchbox
{
	width: 225px;
	margin-bottom: 5px;
}

.button_searchbox
{
	width: 60px;
}

.url_list
{
	padding-left: 18px;
	font-size: 14px;
	line-height: 24px;
}

.mikulink:link, .mikulink:visited, .mikulink:hover, .mikulink:active
{
	color:#1ABC9C;
}

.lukalink:link, .lukalink:visited, .lukalink:hover, .lukalink:active
{
	color:#E91F63;
}

.rinlink:link, .rinlink:visited, .rinlink:hover, .rinlink:active
{
	color:#E67E22;
}

.meikolink:link, .meikolink:visited, .meikolink:hover, .meikolink:active
{
	color:#982D21;
}

.lenlink:link, .lenlink:visited, .lenlink:hover, .lenlink:active
{
	color:#F1C30F;
}

.kaitolink:link, .kaitolink:visited, .kaitolink:hover, .kaitolink:active
{
	color:#206695;
}

.hakulink:link, .hakulink:visited, .hakulink:hover, .hakulink:active
{
	color:#9B5AB6;
}

.pagecount
{
	text-align: center;
	padding-top: 20px;
	width: 100%;
}

.textfield
{
	background-color: #444444;
	margin-right: 2px;
	color: white;
}

.button
{
	color: #cccccc;
	background-color: #333333;
	border: 2px solid #cccccc;
	border-radius: 4px;
}

.button:hover
{
	background-color:#444444;
}
      
.button:active
{
	background-color:#cccccc;
	color:#333333;
	border:2px solid #333333;
}

.radiobutton
{
	margin-left: 0px;
	padding-right: 4px;
}

.searchlabel
{
	padding-left: 5px;
}

.loginfield
{
	background-color: #444444;
	margin-right: 2px;
	color: white;
}

.searchquerytext
{
	padding-left: 0px;
	background-color: #303030;
	color: #aaaaaa;
	text-align: center;
	margin-right: 30px;
	width: 100%;
}

.patreonbutton, .youtubebutton
{
	padding-bottom: 30px;
}

.paidpost:link
{
	color: #c56cc5;
}

.paidpost:hover
{
	color: #c56cc5;
}

.paidpost:visited
{
	color: #c56cc5;
}

.paidpost:active
{
	color: #c56cc5;
}

@media only screen and (min-width: 1817px)
{
	.top_container
	{
		width: 1700px;
	}
}

@media only screen and (min-width: 2467px)
{
	.top_container
	{
		width: 2350px;
	}
}

@media only screen and (min-width: 3117px)
{
	.top_container
	{
		width: 3000px;
	}
}

@media only screen and (min-width: 3767px)
{
	.top_container
	{
		width: 3650px;
	}
}

@media only screen and (min-width: 4417px)
{
	.top_container
	{
		width: 4300px;
	}
}